# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\XXXXFILES\Web Development\Full-Stack Web Development with React\Front-End Web UI Frameworks and Tools Bootstrap 4\Week 1 Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
